In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
import glob
import os
import pandas as pd

# get a list of every CSV in archive/
csv_paths = glob.glob(os.path.join("archive", "*.csv"))

# read and concatenate them
df_list = [pd.read_csv(p) for p in csv_paths]
df_energy = pd.concat(df_list, ignore_index=True)

# now df_energy holds all rows from every file in archive/

In [20]:
# each period is 30 minutes, with period-1 = 00:00–00:30
df['datetime'] = pd.to_datetime(df['SETTLEMENT_DATE'], format='%d-%b-%Y') \
                 + pd.to_timedelta(df['SETTLEMENT_PERIOD']*30 - 30, unit='m')

NameError: name 'df' is not defined

In [16]:
print(df_energy.shape)       # how many rows × columns
print(df_energy.columns)     # ensure the columns line up across files
df_energy.head(5)            # peek at the first few rows

(837040, 19)
Index(['SETTLEMENT_DATE', 'SETTLEMENT_PERIOD', 'ND', 'TSD',
       'ENGLAND_WALES_DEMAND', 'EMBEDDED_WIND_GENERATION',
       'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION',
       'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR', 'PUMP_STORAGE_PUMPING',
       'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW',
       'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW'],
      dtype='object')

,SETTLEMENT_DATE,SETTLEMENT_PERIOD,ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,EMBEDDED_SOLAR_GENERATION,EMBEDDED_SOLAR_CAPACITY,NON_BM_STOR,PUMP_STORAGE_PUMPING,IFA_FLOW,IFA2_FLOW,BRITNED_FLOW,MOYLE_FLOW,EAST_WEST_FLOW,NEMO_FLOW,NSL_FLOW,ELECLINK_FLOW
0,01-JAN-2010,1,36453,37593,32391,906,1786,0,0,0,306,1977.0,0.0,0.0,-234.0,0.0,0,NaN,NaN
1,01-JAN-2010,2,36680,37739,32590,926,1786,0,0,0,223,2000.0,0.0,0.0,-236.0,0.0,0,NaN,NaN
2,01-JAN-2010,3,36343,37467,32291,926,1786,0,0,0,288,2000.0,0.0,0.0,-236.0,0.0,0,NaN,NaN
3,01-JAN-2010,4,35362,36489,31366,952,1786,0,0,0,291,2000.0,0.0,0.0,-236.0,0.0,0,NaN,NaN
4,01-JAN-2010,5,34366,35563,30522,952,1786,0,0,0,361,1999.0,0.0,0.0,-236.0,0.0,0,NaN,NaN

In [5]:
print(df_energy.columns)

Index(['SETTLEMENT_DATE', 'SETTLEMENT_PERIOD', 'ND', 'TSD',
       'ENGLAND_WALES_DEMAND', 'EMBEDDED_WIND_GENERATION',
       'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION',
       'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR', 'PUMP_STORAGE_PUMPING',
       'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW',
       'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW'],
      dtype='object')

In [6]:

energy_paths = glob.glob(os.path.join("archive","*.csv"))
df_list = [pd.read_csv(p) for p in energy_paths]
df_energy = pd.concat(df_list, ignore_index=True)

In [7]:
# your snippet goes here
if 'SETTLEMENT_DATE' in df_energy.columns:
    df_energy['date'] = pd.to_datetime(df_energy['SETTLEMENT_DATE'], dayfirst=True)
elif 'settlement_date' in df_energy.columns:
    df_energy['date'] = pd.to_datetime(df_energy['settlement_date'], dayfirst=True)
else:
    raise KeyError("No settlement_date column found in energy data")

df_energy.drop(columns=['SETTLEMENT_DATE','settlement_date'], errors='ignore', inplace=True)

/var/folders/q5/2572jyv55g152n_wkf7s54nm0000gn/T/ipykernel_78247/197542940.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_energy['date'] = pd.to_datetime(df_energy['SETTLEMENT_DATE'], dayfirst=True)

In [8]:
print(df_energy.columns.tolist())

['SETTLEMENT_PERIOD', 'ND', 'TSD', 'ENGLAND_WALES_DEMAND', 'EMBEDDED_WIND_GENERATION', 'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION', 'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR', 'PUMP_STORAGE_PUMPING', 'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW', 'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW', 'date']

In [9]:
# 1) Rename demand → consumption
if 'england_wales_demand' in df_energy.columns:
    df_energy.rename(columns={'england_wales_demand':'consumption'}, inplace=True)
elif 'ENGLAND_WALES_DEMAND' in df_energy.columns:
    df_energy.rename(columns={'ENGLAND_WALES_DEMAND':'consumption'}, inplace=True)

# 2) Drop duplicate demand + index column
df_energy.drop(columns=[
    'ENGLAND_WALES_DEMAND',   # upper-case duplicate
    'england_wales_demand',   # lower-case original (now renamed)
    'Unnamed: 0'              # pandas auto-index from file
], errors='ignore', inplace=True)

# 3) (Optional) keep only date + consumption
df_energy = df_energy[['date','consumption']]

# 4) Verify
print(df_energy.columns)      # should be ['date','consumption']
print(df_energy.head())

Index(['date', 'consumption'], dtype='object')
        date  consumption
0 2010-01-01        32391
1 2010-01-01        32590
2 2010-01-01        32291
3 2010-01-01        31366
4 2010-01-01        30522

In [10]:
# a) First, see which of the two is populated
for col in ['ENGLAND_WALES_DEMAND','england_wales_demand']:
    if col in df_energy.columns:
        print(col, "→", df_energy[col].notna().sum(), "non-null values")

In [11]:
import pandas as pd

# potential source columns
col_up   = 'ENGLAND_WALES_DEMAND'
col_low  = 'england_wales_demand'

# pull each if it exists, otherwise create an all‐NaN series
s_up  = df_energy[col_up]  if col_up  in df_energy.columns else pd.Series(name='tmp', dtype=float, index=df_energy.index)
s_low = df_energy[col_low] if col_low in df_energy.columns else pd.Series(name='tmp', dtype=float, index=df_energy.index)

# coalesce into consumption
df_energy['consumption'] = s_up.fillna(s_low)

# now drop the originals
df_energy.drop(columns=[col_up, col_low, 'Unnamed: 0'], errors='ignore', inplace=True)

# verify
print(df_energy[['date','consumption']].head())
print("NaNs left in consumption:", df_energy['consumption'].isna().sum())

        date  consumption
0 2010-01-01          NaN
1 2010-01-01          NaN
2 2010-01-01          NaN
3 2010-01-01          NaN
4 2010-01-01          NaN
NaNs left in consumption: 837040

In [12]:
# 1) See which demand column has values
print("Upper-case non-null:", df_energy['ENGLAND_WALES_DEMAND'].notna().sum())
print("Lower-case non-null:", df_energy['england_wales_demand'].notna().sum())

# 2) Create consumption from the one that’s populated
# (here we assume the uppercase one has data; flip if it turns out otherwise)
df_energy['consumption'] = df_energy['ENGLAND_WALES_DEMAND']

# 3) Drop both originals + the index column
df_energy.drop(columns=[
    'ENGLAND_WALES_DEMAND',
    'england_wales_demand',
    'Unnamed: 0'
], errors='ignore', inplace=True)

# 4) Verify
print(df_energy[['date','consumption']].head())
print("NaNs left in consumption:", df_energy['consumption'].isna().sum())

KeyError: 'ENGLAND_WALES_DEMAND'

In [ ]:
# 1) Re‐make consumption by filling uppercase with lowercase
df_energy['consumption'] = (
    df_energy['ENGLAND_WALES_DEMAND']
      .fillna(df_energy['england_wales_demand'])
)

# 2) Drop both originals + index
df_energy.drop(columns=[
    'ENGLAND_WALES_DEMAND',
    'england_wales_demand',
    'Unnamed: 0'
], errors='ignore', inplace=True)

# 3) Verify
print(df_energy[['date','consumption']].head())
print("Non-null in consumption:", df_energy['consumption'].notna().sum())
print("NaNs left in consumption:", df_energy['consumption'].isna().sum())